RewriteEngine On

<FilesMatch "^(download-device.php|\.env)$">
    Require all denied
</FilesMatch>


# If requested file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite /view to view.php
RewriteRule ^([A-Za-z0-9_-]+)$ $1.php [L]

<Files "file.php">
    AuthType Basic
    AuthName "Admin Area"
    AuthUserFile /var/www/html/abc/.htpasswd
    Require valid-user
</Files>

